{% extends "base/main.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="content-section">
    <center>
    <form method="POST" style="border: 1px solid black; margin: 4%; padding:10%; border-radius:1%;">
        {% csrf_token %}
        <fieldset class="form-group">
        {{ form|crispy}}
        </fieldset>
    <center>
        <button class="btn btn-outline-info" type="submit"><span class="glyphicon glyphicon-log-in"></span>Login</button>
    </center>
    <br/>
    <sub style="text-align: left;"><a href="{% url 'register' %}" style="text-decoration: none; color: blue; padding:2%; cursor:pointer; margin-right:2%;">don't have account,sign up</a></sub>
    </form>
    </center>
</div>
{% endblock content %}
