{% extends "base/main.html" %}


{% block title %} Profile {% endblock title %}

{% block content %}




<div class="text-center mt-2 mb-2">
    <img src="{{ user_profile.image.url }}" style="object-fit: cover" width="200" height="200" style class="rounded mx-auto d-block" alt="{{user_profile.user.username}} şəkli">
</div>


<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">İstifadəçi</th>
      <th scope="col">Ümumi</th>
      <th scope="col">İcra olunur</th>
      <th scope="col">Tamamlandı</th>
      <th scope="col">Silinən</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{user_profile.user.username}}</th>
      <td>{{user_profile.tasks_count}}</td>
      <td>{{user_profile.in_progress_task_count}}</td>
      <td>{{user_profile.done_task_count}}</td>
      <td>{{user_profile.deleted_task_count}}</td>
    </tr>
  </tbody>
</table>











{% endblock content %}
