<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Blogs</title>
</head>
<body>
    {% for post in posts %}
    <h3>Author: {{ post.author }}</h3>
    <br><br>
    <p>{{ post.title }}</p>
    <p>{{ post.description }}</p>
    <p>{{ post.publish_date }}</p>

    {% for ct in post.categories.all %}
    <p style="background-color:DodgerBlue;">{{ ct.name }}</p>
    {% endfor %}
    <p>---------------------------</p>
    {% endfor %}
</body>
</html>